body {
    background-color: #a6d9f7;
  }
  
  .container {
    padding-top: 50px;
  }
  
  .form-wrapper {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="float"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition:all 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
    transform: scale(1.1);
  }
  
  .prediction-text-wrapper {
    margin-top: 20px;
  }
  
  h2, h3, p {
    color: #007bff;
  }
  
  .text-center {
    text-align: center;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: #007bff;
  }